/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

/* Basic */

* {
  margin: 0;
  padding: 0;
}

:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}

html,
body,
.Container {
  height: 100%;
  font-family: "Poppins";
  align-items: center;
  justify-content: center;
}

.container1 {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 15px;
  width: 60%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

body {
  background-color: #e9e8e6;
}

/* css for section card */
.section {
  position: relative;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
}

.memory-game {
  width: 450px;
  height: 500px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  width: calc(25% - 15px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 10px;
  position: absolute;
  border-radius: 5px;
  background: #1c7ccc;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

.buttonNextGame {
  margin: 0;
  position: absolute;
  top: 80%;
  left: 30%;
}
/* css for section card end */

.btn {
  --hue: var(--hue-neutral);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 5px;
  color: white;
  outline: none;
  width: 80%;
  margin-left: 10%;
}

#answer-buttons {
  display: inline;
}

.btn:hover {
  border-color: black;
}

.btn.correct {
  font-size: 0.8rem;
  --hue: var(--hue-correct);
  color: black;
}

.btn.wrong {
  --hue: var(--hue-wrong);
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

a:link,
a:hover,
a:visited {
  text-decoration: none;
  color: #000;
}

a:link.white,
a:hover.white,
a:visited.white {
  text-decoration: none;
  color: #fff;
}

.bold {
  font-weight: bold;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 1.3rem;
  font-style: normal;
  font-weight: bold;
}

p {
  display: block;
  text-align: center;
  padding-top: 0px;
  color: #000;
  font-size: 0.8rem;
  word-spacing: 2px;
}

.privacy {
  display: block;
  bottom: 0px;
  position: absolute;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 1rem;
  word-spacing: 2px;
}
.form {
  margin: 5px;
  text-align: center;
}

.form input {
  margin: 3px;
  padding: 1px;
  border: 1px solid rgba(22, 148, 170, 0.911);
}

label {
  font-size: 0.7rem;
  display: inline-block;
  margin-bottom: 0.5rem;
}

img.introPage {
  height: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: solid 10px;
  border-color: #fff;
}
.start-btn,
.next-btn {
  font-size: 0.8rem;
  font-weight: bold;
  padding: 10px 20px;
}

.submitButton {
  display: flex;
  border: none;
  margin: 5px;
  color: #fff;
  display: block;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(22, 148, 170, 0.911);
}

/* buttonQuiz */
.option_list {
  display: block;
  border: 2px solid white;
  color: #fff;
  width: 48%;
  height: 140px;
  margin: 5px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(22, 148, 170, 0.911);
  align-items: center;
  transition: all 0.4s ease;
  cursor: pointer;
}

.option {
  margin: 5px;
  border: 2px solid white;
}

.option .icon.tick {
  display: contents;
  color: #2cd454;
  background-color: white;
}

.option .icon.cross {
  color: #f01708;
  display: contents;
  background-color: white;
}

.option:hover {
  color: #004085;
  background: #cce5ff;
}

span {
  padding: 10px;
}

/* buttonQuiz  end*/

/***** SocMedia *****/
.socMedia {
  margin-top: 10vh;
  text-align: center;
}

.fa:hover {
  opacity: 0.9;
}

.fa-linkedin {
  color: white;
}

.fa-pinterest {
  color: white;
}

.fa-reddit {
  color: white;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 60px;
  text-decoration: none;
}

/***** End SocMedia *****/

/***** Arrows *****/
.arrow {
  border: solid rgba(22, 148, 170, 0.911);
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
/***** End Arrows *****/

.min-100 {
  min-height: 100%;
}

.no-gutter {
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}

.Content {
  position: static;
  z-index: 1;
}

.Wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  color: #000;
  background-color: #e9e8e6;
}

.LeftContent {
  float: left;
  margin: 0;
  padding: 0;
}

.RightContent {
  background-color: #eaeff2;
  opacity: 0.9;
  float: right;
  margin: 0;
  padding: 0;
}

/* .container-fluid {
  width: 100%;
  height: 73%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid img {
  height: 40%;
  display: block;
  margin: 15px;
  width: 20%;
  border: solid 2px;
  border-color: rgba(22, 148, 170, 0.911);
}

@media (max-width: 375px) {
  .container-fluid img {
    height: 40%;
    display: block;
    margin: 15px;
    width: 36%;
    border: solid 2px;
    border-color: rgba(22, 148, 170, 0.911);
  }
} */

/* media query fon */

@media (min-width: 1200px) {
  .Wrapper > div {
    height: 100%;
  }
}

@media (max-width: 1440px) {
  .submitButton {
    display: flex;
    border: none;
    margin: 8%;
    color: #fff;
    display: block;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(22, 148, 170, 0.911);
  }
}

@media (min-width: 375px) {
  .btn-grid {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 10px;
    margin: 20px 0;
  }
}

@media (min-width: 320px) {
  .btn-grid {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 10px;
    margin: 20px 0;
  }
}
/* @media (min-width: 831px) {
  img.introPage {
    height: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: solid 10px;
    border-color: #fff;
  }
}

@media (max-width: 375px) {
  img.introPage {
    height: 33%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border: solid 10px;
    border-color: #fff;
}
} */

@media (max-width: 375px) {
  .background-2 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 90%;
  }
  .background-2 .introPage {
    height: 33%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border: solid 10px;
    border-color: #fff;
  }

  .background-2 .privacy {
    display: inline;
    text-align: center;
    margin-top: 19%;
    color: #000;
    font-size: 0.8rem;
    word-spacing: 2px;
  }
}

@media (min-width: 375px) {
  .option_list {
    display: inline-block;
    border: 2px solid white;
    color: #fff;
    width: 80%;
    height: 140px;
    margin: 5px;
    margin-left: 10%;
    margin-right: auto;
    background: rgba(22, 148, 170, 0.911);
    align-items: center;
    transition: all 0.4s ease;
  }

  @media (min-width: 1024px) {
    .option_list {
      display: inline-block;
      border: 2px solid white;
      color: #fff;
      width: 60%;
      height: 140px;
      margin: 5px;
      margin-left: 20%;
      margin-right: auto;
      background: rgba(22, 148, 170, 0.911);
      align-items: center;
      transition: all 0.4s ease;
    }
  }
}

@media (max-width: 1440px) {
  .introductionButton {
    border: none;
    margin: 50px;
    color: #fff;
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(22, 148, 170, 0.911);
  }
}

@media (max-width: 768px) {
  .privacy {
    display: grid;
    text-align: center;
    margin-top: 19%;
    color: #000;
    font-size: 1rem;
    word-spacing: 2px;
  }
}

@media (min-width: 670px) {
  button {
    border: none;
    margin: 5px;
    color: #fff;
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(22, 148, 170, 0.911);
  }

  .swipeIcon {
    height: 15%;
    width: 35%;
    margin-top: 30px;
  }
}
/***** Iphone 12 pro *****/
@media (min-width: 390px) {
  button {
    display: flex;
    border: none;
    margin: 5px;
    color: #fff;
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(22, 148, 170, 0.911);
  }
}

/***** End Iphone 12 pro *****/

@media (min-width: 375px) {
  button {
    display: flex;
    border: none;
    margin: 5px;
    color: #fff;
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(22, 148, 170, 0.911);
  }
}

/* mediaQuery registration iphone 12Pro */
@media (max-width: 375px) {
  img.introPage {
    height: 18%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: solid 10px;
    border-color: #fff;
  }
}
@media (max-width: 768px) {
  img.introPage {
    height: 18%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: solid 10px;
    border-color: #fff;
  }

  .form input {
    width: 50%;
    margin: 5px;
    padding: 5px;
    border: 2px solid rgba(22, 148, 170, 0.911);
  }
}

@media (min-width: 320px) {
  div .checkbox {
    height: 5%;
    display: inline-block;
    margin-left: 15%;
    margin-right: auto;
    width: -1%;
  }
}

@media (max-width: 375px) {
  .form input {
    width: 97%;
    /* margin: 5px; */
    /* padding: 5px; */
    /* border: 2px solid rgba(22, 148, 170, 0.911); */
    height: 18px;
  }
}

/* mediaQuery registration iphone 12Pro end */

/* media query fon end */

.logoIcon {
  padding: 17px;
  width: 100%;
  height: 10%;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: bold;
  margin: 10px;
}

.background-1 {
  background-image: url("../assets/background-desktop.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.background-2 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
